.action::before{
    content: "";
    background-color: #62C370;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.action{
display: inline-flex;
align-items: center;
color: white;
font-size: 20px;
text-decoration: none;
font-family: "Fira Code", Arial, Helvetica, sans-serif;
font-weight: 500;
margin-right: 30px; /* Joga os elementos da direita 30px para o lado */
}