.button-arrow{
width: 50px;
height: 50px;
box-shadow: 5px 5px 0px black;
background-color: #F25A70;
cursor: pointer;
}

.button-arrow::before{
    content: "";
    display: block;
    box-sizing: border-box;
    height: 15px;
    width: 15px;
    border: 16px solid transparent;
    border-left: 28px solid white;
    transform: translateX(13px);
}

.button-arrow .content{
    display: none;
}

.button-arrow.-left::before{
    transform: rotate(180deg) translateX(8px);
}

