.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7C5E99;
    padding: 10px 20px;
    border-bottom: 10px solid black;
}

.header img {
    height: 60px;
    width: 60px;
    box-shadow: 5px 5px 0 black;
}

.header img:hover{
    transform: scale(1.05);
}
