@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500&family=Press+Start+2P&display=swap');

.container-projetos{
    display: flex;
    height: 300px;
    background-color: black;
    font-family: "Press Start 2P";
    color: white;
    justify-content: center;
    padding: 50px;
    border-bottom: 10px solid #62C370;
}

