@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500&family=Press+Start+2P&display=swap');

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7C5E99;
    padding: 10px 20px;
    border-bottom: 10px solid black;
}

/*
    h1{
    font-family: "Press Start 2P", sans-serif;
    color: #fef339;
    text-shadow: 5px 5px 0 #ee1170;
}
*/

header img {
    height: 60px;
    width: 60px;
    box-shadow: 5px 5px 0 black;
}

header img:hover{
    transform: scale(1.05);
}

nav{
    text-align: right;
}

a::before{
        content: "";
        background-color: #62C370;
        width: 10px;
        height: 10px;
        margin-right: 10px;
}

a{
    display: inline-flex;
    align-items: center;
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-right: 30px; /* Joga os elementos da direita 30px para o lado */
}

.button{
    display: inline-block;
    background-color: #62C370;
    box-shadow: 5px 5px 0 black;
    padding: 18px 20px;
    margin-right: 0;
    cursor: pointer;
    color: white;
    transition: transform 150ms linear;
}

.button:hover{
    transform: scale(1.05);
}

#container-main{
    height: 100vh;
    background: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/01073865290819.5d61d475f0072.jpg);
    background-size: 100%;
    border-bottom: 10px solid black;
}

#container-skills{
    display: flex;
    background-color: #7C5E99;
    height: 100vh;
    font-family: "Press Start 2P", sans-serif;
    color: white;
    justify-content: center;
    padding: 50px;
    font-size: 20px;
    border-bottom: 10px solid #62C370;
}

#container-projetos{
    display: flex;
    height: 300px;
    background-color: black;
    font-family: "Press Start 2P";
    color: white;
    justify-content: center;
    padding: 50px;
    border-bottom: 10px solid #62C370;
}
